/.vs/OrderStateMachine.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/OrderStateMachine.slnx/FileContentIndex/4d6a2ebc-b924-4ba3-bb79-9c8b87750137.vsidx
/.vs/OrderStateMachine.slnx/FileContentIndex/5bc99e09-13e8-47fa-88ad-dca491110455.vsidx
/.vs/OrderStateMachine.slnx/FileContentIndex/6149d5e2-b346-42fe-8390-d7a1714f9ebe.vsidx
/.vs/OrderStateMachine.slnx/FileContentIndex/e848f07a-2d55-457b-9f54-36135cdc07a1.vsidx
/.vs/OrderStateMachine.slnx/FileContentIndex/ff7180a9-659a-4717-afa0-5923e51821b9.vsidx
/.vs/OrderStateMachine.slnx/v18/TestStore/0/002.testlog
/.vs/OrderStateMachine.slnx/v18/TestStore/0/testlog.manifest
/.vs/OrderStateMachine.slnx/v18/.futdcache.v2
/.vs/OrderStateMachine.slnx/v18/.suo
/.vs/OrderStateMachine.slnx/v18/DocumentLayout.backup.json
/.vs/OrderStateMachine.slnx/v18/DocumentLayout.json
/.vs/ProjectEvaluation/orderstatemachine.metadata.v10.bin
/.vs/ProjectEvaluation/orderstatemachine.projects.v10.bin
/.vs/ProjectEvaluation/orderstatemachine.strings.v10.bin
/.vs/**
